// Colors
$mainBg: rgb(249,244,232);
$btnBg: rgb(73,119,234);

$primaryColor: #000;
$secondaryColor:rgb(106,105,103);

$white: rgb(251,252,255);

$gradient1: rgb(234,171,84);
$gradient2: rgb(234,87,114);



// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont:'Lato', sans-serif;
$secondaryFont: 'Playfair Display', serif;
